<!-- <!DOCTYPE html> 
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE-edge">
<meta name="viewport" content="width-device-width,initial-scale=1.0">
<title>Health is wealth</title>
<link rel="stylesheet" href="static/style2.css">
</head>
<body class="bg-primary bg-gradient">
    <div class="container">
        <nav class="navbar">
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/helpline">Helpline</a></li>
                <li><a href="/contact">Appointment offline</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>

        <div class="main">
            <div class="hamburger">
                <img class="ham" src="menu.png"  altwidth="23"></img>
                <img class="cross" src="closing.png"  altwidth="23"></img>
            </div>
            <div class="infoContainer">
                <div class="Devinfo">
                    <div class="hello">Hi I am</div>
                    <div class="name">Healer bot</div>
                    <div class="about">Virtual doctor at your fingertip</div>
                    <div>
                        <a href="https://git.io/typing-svg"><img src="https://readme-typing-svg.demolab.com?font=Georgia&weight=100&size=23&pause=1200&color=01F9C6&center=true&vCenter=true&width=435&lines=Hi,Virtual Chatbot, at your fingertips" alt="Typing SVG" /></a>
                        <a href="contact" class="btn btn-primary">
                            Contact Me
                        </a>
                    </div>
                </div>
                <div class="devpic">
                    <img src="static/DP.jpg" class="profile-image" alt="No image"></img>
                </div>
            </div>
        </div>
    </div>
    <script src="script1.js"></script>
</body>
</html>
-->


<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Health is wealth</title>
        <link rel="stylesheet" href="static/home.css">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
       
    </head>
    <body>
        <div class="banner">
            <video autoplay loop muted plays-inline>
                <source src="static/video1.mp4" type="video/mp4">
            </video>
            <div class="navbar">
                <img class="logo" src="logo.png"><a href="/"></a>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/helpline">Helpline</a></li>
                    <li><a href="/contact">Appointment offline</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </div>
            <div class="content">
                
        
                <h1 > Hi </h1>
                <p style="font-size: xxx-large;"> <span id="autotype-text"></span></p>
                <div class="about_details">
                </div>
                <div>
                    <button type="button"><a href="/contact">Contact Us</a></button>
                </div>
                <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
                <script>
                    var typed = new Typed('#autotype-text', {
                        strings: [ 'I am Healer Bot', 'Virtual doctor at your fingertips!'],
                        smartBackspace: true, // Default value
                        typeSpeed:50,
                        backspeed:75,
                        loop:true,
                      });
                </script>
                
            </div>
        </div>
    </body>
</html>